<div class="login">
  <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()" class="login__card">
    <h1 class="login__title">{{ 'changePassword.title' | transloco }}</h1>
    @if (auth.mustChangePassword()) {
      <nz-alert nzType="info" [nzMessage]="'changePassword.forced' | transloco" nzShowIcon class="login__alert" />
    }
    @if (error(); as e) {
      <nz-alert nzType="error" [nzMessage]="e" nzShowIcon class="login__alert" />
    }
    <nz-form-item>
      <nz-form-label nzFor="current" nzRequired>{{ 'changePassword.current' | transloco }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'changePassword.required' | transloco">
        <input nz-input id="current" type="password" formControlName="currentPassword" autocomplete="current-password" dir="ltr" class="ltr-field" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="new" nzRequired>{{ 'changePassword.new' | transloco }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'changePassword.newHint' | transloco">
        <input nz-input id="new" type="password" formControlName="newPassword" autocomplete="new-password" dir="ltr" class="ltr-field" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" nzBlock [nzLoading]="busy()" type="submit">{{ 'changePassword.submit' | transloco }}</button>
  </form>
</div>
