<div class="login">
  <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()" class="login__card">
    <h1 class="login__title">Change password</h1>
    @if (auth.mustChangePassword()) {
      <nz-alert nzType="info" nzMessage="Choose a new password before continuing." nzShowIcon class="login__alert" />
    }
    @if (error(); as e) {
      <nz-alert nzType="error" [nzMessage]="e" nzShowIcon class="login__alert" />
    }
    <nz-form-item>
      <nz-form-label nzFor="current" nzRequired>Current password</nz-form-label>
      <nz-form-control nzErrorTip="Required">
        <input nz-input id="current" type="password" formControlName="currentPassword" autocomplete="current-password" dir="ltr" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="new" nzRequired>New password</nz-form-label>
      <nz-form-control nzErrorTip="At least 10 characters">
        <input nz-input id="new" type="password" formControlName="newPassword" autocomplete="new-password" dir="ltr" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" nzBlock [nzLoading]="busy()" type="submit">Save</button>
  </form>
</div>
