<div class="page-title">
  <h2>{{ 'users.title' | transloco }}</h2>
  <a nz-button nzType="primary" routerLink="new">{{ 'users.add' | transloco }}</a>
</div>
<nz-table #table [nzData]="users()" [nzLoading]="loading()" nzSize="small" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>{{ 'users.name' | transloco }}</th>
      <th>{{ 'users.phone' | transloco }}</th>
      <th>{{ 'users.email' | transloco }}</th>
      <th>{{ 'users.role' | transloco }}</th>
      <th>{{ 'users.vet' | transloco }}</th>
      <th>{{ 'users.license' | transloco }}</th>
      <th>{{ 'users.status' | transloco }}</th>
      <th>{{ 'users.actions' | transloco }}</th>
    </tr>
  </thead>
  <tbody>
    @for (u of table.data; track u.id) {
      <tr>
        <td>{{ u.fullName }}</td>
        <td dir="ltr" class="ltr-field mono">{{ u.phone }}</td>
        <td dir="ltr" class="ltr-field">{{ u.email }}</td>
        <td>{{ 'roles.' + u.role | transloco }}</td>
        <td>@if (u.veterinarian) { <nz-tag>{{ 'users.vetTag' | transloco }}</nz-tag> }</td>
        <td dir="ltr" class="ltr-field mono">{{ u.licenseNumber }}</td>
        <td>
          @if (!u.active) { <nz-tag>{{ 'users.statusInactive' | transloco }}</nz-tag> }
          @else if (u.mustChangePassword) { <nz-tag nzColor="orange">{{ 'users.statusPending' | transloco }}</nz-tag> }
          @else { <nz-tag nzColor="green">{{ 'users.statusActive' | transloco }}</nz-tag> }
        </td>
        <td class="row-actions">
          <a [routerLink]="[u.id]">{{ 'users.editAction' | transloco }}</a>
          @if (u.active) {
            <a (click)="resetPassword(u)">{{ 'users.resetPassword' | transloco }}</a>
            <a (click)="deactivate(u)">{{ 'users.deactivate' | transloco }}</a>
          } @else {
            <a (click)="activate(u)">{{ 'users.activate' | transloco }}</a>
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>
