<div class="login" [class.login--phone]="viewport.isPhone()">
  @if (viewport.isPhone()) {
    <div class="login__hero">
      <img src="brand/lockup-stacked-white.svg" alt="Qvety" class="login__lockup" />
    </div>
  }
  <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()" class="login__card">
    @if (!viewport.isPhone()) {
      <div class="login__top">
        <img src="brand/mark.svg" alt="" class="login__mark" />
        <h1 class="login__title">{{ 'login.title' | transloco }}</h1>
        <button type="button" class="login__lang" (click)="toggleLanguage()">{{ 'app.language' | transloco }}</button>
      </div>
    }
    @if (error(); as e) {
      <nz-alert nzType="error" [nzMessage]="e" nzShowIcon class="login__alert" />
    }
    <nz-form-item>
      <nz-form-label nzFor="identifier" nzRequired>{{ 'login.identifier' | transloco }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'login.identifierHint' | transloco">
        <input nz-input id="identifier" type="text" formControlName="identifier" autocomplete="username" inputmode="email" dir="ltr" class="ltr-field" placeholder="01xxxxxxxxx" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired>{{ 'login.password' | transloco }}</nz-form-label>
      <nz-form-control [nzErrorTip]="'login.passwordHint' | transloco">
        <input nz-input id="password" type="password" formControlName="password" autocomplete="current-password" dir="ltr" class="ltr-field" />
      </nz-form-control>
    </nz-form-item>
    @if (practices(); as list) {
      <p class="login__choose">{{ 'login.choosePractice' | transloco }}</p>
      <ul class="rows login__practices">
        @for (p of list; track p.id) {
          <li class="row" role="button" tabindex="0" [attr.aria-disabled]="busy()" (click)="choose(p)" (keydown.enter)="choose(p)">
            <span class="row__text"><span class="row__title">{{ p.name }}</span></span>
            <nz-icon nzType="right" class="mirror-rtl" />
          </li>
        }
      </ul>
      <button type="button" class="login__lang login__back" (click)="cancelChoice()">{{ 'login.chooseOther' | transloco }}</button>
    } @else {
      <button nz-button nzType="primary" nzBlock [nzLoading]="busy()" type="submit" class="login__submit">{{ 'login.submit' | transloco }}</button>
    }
    @if (viewport.isPhone()) {
      <div class="login__footer">
        <button type="button" class="login__lang" (click)="toggleLanguage()">{{ 'app.language' | transloco }}</button>
      </div>
    }
  </form>
</div>
