@if (client(); as c) {
  <app-title-bar [title]="c.fullName" [subtitle]="c.preferredName" [back]="['/clients']">
    <ng-container title-extra>@if (archived()) { <nz-tag class="title-tag">{{ 'clients.archived' | transloco }}</nz-tag> }</ng-container>
  </app-title-bar>
  <dl class="summary">
    <dt>{{ 'clients.phone' | transloco }}</dt><dd dir="ltr" class="ltr-field mono">{{ c.phone }}</dd>
    <dt>{{ 'clients.phoneSecondary' | transloco }}</dt><dd dir="ltr" class="ltr-field mono">{{ c.phoneSecondary }}</dd>
    <dt>{{ 'clients.email' | transloco }}</dt><dd dir="ltr" class="ltr-field">{{ c.email }}</dd>
    <dt>{{ 'clients.address' | transloco }}</dt><dd>{{ c.address }}</dd>
    <dt>{{ 'clients.preferredLocale' | transloco }}</dt><dd>{{ c.preferredLocale ? ('locales.' + c.preferredLocale | transloco) : '' }}</dd>
    <dt>{{ 'clients.notes' | transloco }}</dt><dd>{{ c.notes }}</dd>
    <dt>{{ 'shared.createdAt' | transloco }}</dt><dd dir="ltr" class="ltr-field">{{ c.createdAt | date:'medium':'':locale.angularLocale() }}</dd>
  </dl>
  <nz-tabs>
    <nz-tab [nzTitle]="'clients.tabPatients' | transloco">
      <p class="muted">{{ 'clients.patientsSoon' | transloco }}</p>
    </nz-tab>
    @if (auth.isAdmin()) {
      <nz-tab [nzTitle]="'shared.history' | transloco">
        <ng-template nz-tab>
          <app-history-tab table="clients" [rowId]="c.id" />
        </ng-template>
      </nz-tab>
    }
  </nz-tabs>
  @if (auth.canWriteClients() && !archived()) {
    <app-action-bar>
      <button nz-button nzDanger class="action-bar__secondary" (click)="archive()">{{ 'clients.archive' | transloco }}</button>
      <a nz-button nzType="primary" [routerLink]="['/clients', c.id, 'edit']">{{ 'shared.edit' | transloco }}</a>
    </app-action-bar>
  }
}
