<div class="form-layout">
  <app-title-bar [titleKey]="isNew ? 'clients.add' : 'clients.edit'" [back]="id ? ['/clients', id] : ['/clients']" />
  @if (warnings().length) {
    <nz-alert nzType="warning" nzShowIcon class="form-card" style="margin-bottom: 16px"
              [nzMessage]="'clients.duplicateTitle' | transloco" [nzDescription]="dupes" />
    <ng-template #dupes>
      <p>{{ 'clients.duplicateText' | transloco }}</p>
      <ul class="dupe-list">
        @for (w of warnings(); track w.id) {
          <li><a [routerLink]="['/clients', w.id]">{{ w.fullName }}</a> <span dir="ltr" class="ltr-field mono">{{ w.phone }}</span></li>
        }
      </ul>
      <a nz-button nzType="primary" nzSize="small" [routerLink]="['/clients', savedId()]">{{ 'clients.openSaved' | transloco }}</a>
    </ng-template>
  }
  <app-form-page [fields]="fields" [value]="current()" [busy]="busy()" (submitted)="save($event)" />
</div>
